.form {
  background-color: #00d1b2;
  color: #fff;
  background-image: linear-gradient(141deg, #009e6c, #00d1b2 71%, #00e7eb);
}

.form-container {
  margin: 0;
  padding: 1.5rem 0;
  height: 100%;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // margin: 0 auto 4rem;
  max-width: 960px;
  height: 100%;
}

.form-heading {
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 1.5;
}

.form-questions {
  min-height: 14rem;
}

.form-check {
  display: flex;
  flex-direction: row;
  margin: 0.5rem 0;
  font-size: 1.2em;

  & label {
    cursor: pointer;
  }

  &__input {
    height: 100%;
    margin-right: 0.5rem;
    vertical-align: middle;
  }
}

.form-text {
  display: block;
  margin: 1rem 0;

  &__input {
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}

.actions {
  //   display: flex;
  //   flex-direction: column-reverse;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;

  &__nextButton {
    background-color: #e08e41;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 0.8em;
    margin: 1rem 0;
    cursor: pointer;
    border-radius: 2px;
    width: 10rem;
    height: 2.5rem;

    &:focus {
      outline: none;
    }
  }

  &__prevButton {
    @extend .actions__nextButton;
    border: none;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    font-size: 0.8em;

    &:focus {
      outline: none;
    }
  }

  &__submitButton {
    @extend .actions__nextButton;

    &:focus {
      outline: none;
    }
  }
}
