.howItWorks-container {
  margin: 0;
  background-color: #fafafa;
}

.howItWorks-content {
  padding: 0 1.25rem;
  margin: 0 auto 0;
  max-width: 960px;
}

.howItWorks {
  &__title {
    text-align: center;
    font-size: 1.8em;
    margin: 0;
    margin-bottom: 2rem;
  }
}

.row {
  display: flex;

  &__column {
    flex: 1;
    text-align: center;

    &:nth-child(2) {
      margin: 0 3rem;
    }

    h2 {
      font-size: 1em;
      font-weight: 600;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    p {
      font-size: 0.9em;
      font-weight: 300;
      margin-bottom: 1rem;
      line-height: 1.4em;
    }
  }
}
